@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');
/* 
    Responsividade para texto: A cada 16px equivale a 1 rem.
    Responsividade para outras coisas: Se usa porcentagem (%).
*/
:root
{
    --background-page: #FFF0F5;
    --background-color-hd: #E0FFFF;
    --background-color-bt: #3fa1fc;
    --background-color-ft: #FAFAD2;
    --font-color: #000000;
    --font--japanese: "Shippori Mincho", serif;
}

header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color-hd);
}

a
{
    text-decoration: none;
}


li
{
    display: flex;
    justify-content: center;
    margin-top: 0.3rem;
}


.header-div-title
{
    display: flex;
    align-items: center;
}

.header-nav
{
    display: flex;
}

.header-nav-container-menu
{
    display: flex;
    margin: 0 4rem;
}

.header-nav-content-menu
{
    margin: 0 4rem;
}

#Login
{
    background-color: var(--background-color-bt);
}

#Nivel-jp, #Menu-info
{
    background-color: aquamarine;
}

#Nivel-jp, #Menu-info, #Login
{
    font-size: 1.5rem;
    border-radius: 0.6rem;
    cursor: pointer;
}

#Nivel-jp-opc, #Menu-info-opc, #Login-opc
{
    display: none; /*Esconde a lista inicialmente*/ 
    position: absolute;
    cursor: pointer;
}

#Nivel-jp-opc, #Menu-info-opc
{
    background-color: var(--background-color-ft);
    border-radius: 0.4rem;
    border: 0.1rem solid black;
}

.menu-opc-jp
{
    width: 5rem;
    height: 1rem;
    margin: 0.3rem 0;
}

.menu-opc-info
{
    width: 9.3rem;
}

.menu-opc-jp:hover, .menu-opc-info:hover
{
    background-color: aquamarine;
    border-radius: 0.4rem;
}


.menu-alinhamento
{
    display: flex;
    justify-content: center;
}

.menu-link
{
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
}

/*

#Nivel-jp, #Menu-info, #Login
{
    display: block;
    position: relative;
}

*/

