@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');

:root
{
    --background-page: #FFF0F5;
    --background-color-hd: #E0FFFF;
    --background-color-ft: #FAFAD2;
    --font-color: #000000;
    --font--japanese: "Shippori Mincho", serif;
}

/* 
    Responsividade para texto: A cada 16px equivale a 1 rem.
    Responsividade para outras coisas: Se usa porcentagem (%).
*/

header
{
    display: flex;
    justify-content: space-between;
    padding: 0.5%;
    align-items: center;
    background-color: var(--background-color-hd);
}

a:link, a:visited
{
    color: black;
    background-color: transparent;
    text-decoration: none;
}

ul:hover
{
    background-color: rgb(0, 255, 21);
    border-radius: 5% 5%;
}

button
{
    background-color: transparent;
    cursor: pointer;
    border: none;
}


.hd-div
{
    display: flex;
    align-items: center;
}

.hd-nav
{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.hd-opc-menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

.hd-title
{
    width: max-content; /* Define a largura máxima ao tamanho do elemento */
    height: max-content; /* Define a altura máxima ao tamanho do elemento*/
    font-size: 200%;
}

.bt-icon
{
    width: 30%;
    border: 2px solid black;
    border-radius: 100%;
    background-color: white;
}

.menu
{
    display: block;
    position: relative;
    font-size: 130%;
}

#menu-info, #menu-lvl, #opc
{   
    position: absolute;
    width: auto;
}

.div-login
{
    border: 2px solid black;
    text-align: center;
}

#opc
{
    margin-left:1.5% ;
}

#menu-lvl
{
    width: 2.5%;
    text-align: center;
}

.ocultar
{
    display: none;
}

.jp-lvl
{
    font-size: 130%;
    margin-top: 20%;
}
